Flask==0.10.1
Flask-Migrate==1.2.0
Flask-SQLAlchemy==1.0
Flask-Script==0.6.7
Jinja2==2.7.2
Mako==0.9.1
MarkupSafe==0.19
PyYAML==3.11
SQLAlchemy==0.9.4
Werkzeug==0.9.4
alembic==0.6.4
gunicorn==18.0
itsdangerous==0.24
nltk==2.0.4
psycopg2==2.5.2
python-dateutil==2.2
pytz==2014.3
redis==2.9.1
requests==2.2.1
rq==0.4.6
rq-dashboard==0.3.3
simplejson==3.5.2
six==1.6.1
times==0.6.2
wsgiref==0.1.2
