<html>
    <head>
        <title>Wordcount</title>
    </head>
    <style type="text/css">
        .content {
            width: 960px;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            text-align: center;
        }
        #url-box {
            width: 300px;
            height: 30px;
            font-size: 19px;
        }
        button {
            height: 29px;
            font-size: 19px;
        }
    </style>
    <body>
        <div class="content">
            <h1>Wordcount3000</h1>
            <form>
                <input type="text" name="url" placeholder="Enter URL..." id="url-box">
                <button type="submit" value="Submit">Submit</button>
            </form>
        </div>
    </body>
</html>